{% from "macros/_form.html" import render_form %}

{% set page_title = 'Generate' %}



{% if success %}

<div style="text-align: center;">
    <p>Your Signs</p>

    <img class="img-responsive" src="/img/sign/{{num1}}.png" style="width:50; height=50; " alt="">
    <img class="img-responsive" src="/img/sign/{{num2}}.png" style="width:50; height=50; " alt="">
    <img class="img-responsive" src="/img/sign/{{num3}}.png" style="width:50; height=50; " alt="">
</div>

{% else %}
<h3>GENERATE</h3>

    <div style="max-width:400px;margin-top:40px;">
        {{ render_form(url_for('generate'), form) }}
    </div>
{% endif %}

