<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>.::AngelHALO::.</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="  background-color: #d0af6b; border-color: #AE8B44;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="" href="/">Application name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Account/Register" id="registerLink">Register</a>
                        </li>
                        <li>
                            <a href="/Account/Login" id="loginLink">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content" style="margin-top:50px;">
            <div class="row">
                <div class="header" style="margin-top:30px;"></div>
                <div class="com-main col-md-6">
                    <div class="" style="padding: 10px; background-color: #65381f;">
                        <h3 style="color: #d0af6b; margin: 0;">The National Art Center, Tokyo</h3>
                    </div>
                    <img class="img-thumbnail" src="img/main-right-jp.jpg" style="width:100%" />
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="btn btn-warning">
                                <a href="/english/outline.html">About</a>
                            </span>
                            <br>
                            <span class="btn btn-warning">
                                <a href="/english/outline.html">Admission</a>
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span class="btn btn-warning">
                                <a href="/english/outline.html">Access Map</a>
                            </span>
                            <br>
                            <span class="btn btn-warning">
                                <a href="/english/outline.html">Exhibitions</a>
                            </span>
                        </div>
                    </div>
                    <div class="" style="">
                        <div id="stones" class="" style="height: 128px; margin-top: 100px;">
                            <!--<div id="stone1" class="stone-normal" style="width:128px; height: 128px"></div>
                            <div id="stone2" class="stone-normal" style="width:128px; height: 128px"></div>
                            <div id="stone3" class="stone-normal" style="width:128px; height: 128px"></div>-->
                            <img id="stone1" class="" src="img/stone/4.png" style="width:128px; height: 128px; display:none;" />
                            <img id="stone2" class="" src="img/stone/4.png" style="width:128px; height: 128px; display:none;" />
                            <img id="stone3" class="" src="img/stone/4.png" style="width:128px; height: 128px; display:none;" />
                        </div>
<!--                         <div class="pull-right">
                            <button type="button" id="btn1" class="btn btn-info">btn1</buttom>
                                <br>
                            <button type="button" id="btn2" class="btn btn-info">btn2</buttom>
                                    <br>
                                    <button type="button" id="btn3" class="btn btn-info">btn3</buttom>
                                        <br>
                                        <button type="button" id="btn4" class="btn btn-info">btn4</buttom>
                        </div> -->
                    </div>
                </div>
                <div class="com-index col-md-6">
                    <div class="" style="border:1px solid #dddddd; width:100%; height:350px;">
                        <div id="" class="" style="padding: 20px;">
                            <div id="museum-info" class="item-info">
                                <h4>Name:
                                    <strong style="margin-left:10px;">The National Art Center, Tokyo</strong>
                                </h4>
                                <p>The National Art Center, Tokyo (国立新美術館 Kokuritsu Shin-Bijutsukan?) (NACT) is a museum in Roppongi, Minato, Tokyo, Japan.
                                    A joint project of the Agency for Cultural Affairs and the National Museums Independent Administrative Institution, it stands
                                    on a site formerly occupied by a research facility of the University of Tokyo. The architect for the museum was Kisho Kurokawa.
                                    The facility has 47,960 m² of floor space on a 30,000 m² site with four stories above ground and one below. Access is from
                                    Nogizaka Station on the Tokyo Metro Chiyoda Line. Unlike Japan's other national art museums, NACT is an "empty museum", without
                                    a collection, permanent display, and curators. Like Kunsthalle in German-speaking regions, it accommodates temporary exhibitions
                                    sponsored and curated by other organizations.[2] The policy has been successful. In its first fiscal year in 2007, it had
                                    69 exhibitions organized by arts groups and 10 organized by NACT. Its Monet exhibition, held between 7 April and 2 July 2007,
                                    was the second most visited exhibition of the year, not only in Japan but in the world.[2]</div>
                        </div>
                        <div id="item-1" style="display:none" class="">
                            <div id="item-1-info" class="" style="padding:20px;">
                                <div class="span12">
                                    <img src="img/m-1-1.jpg" style="max-height:200px; margin:0 2% 2% 2%" class="pull-left" />
                                </div>
                                <div class="item-info">
                                    <h4>Name:
                                        <strong>Mona Lisa</strong>
                                    </h4>
                                    <p>The Mona Lisa (Italian: Monna Lisa or La Gioconda, French: La Joconde) or La Gioconda is a half-length portrait of a woman
                                        by the Italian artist Leonardo da Vinci, which has been acclaimed as "the best known, the most visited, the most written
                                        about, the most sung about, the most parodied work of art in the world".[1] The painting, thought to be a portrait of Lisa
                                        Gherardini, the wife of Francesco del Giocondo, is in oil on a white Lombardy poplar panel, and is believed to have been
                                        painted between 1503 and 1506. Leonardo may have continued working on it as late as 1517. It was acquired by King Francis
                                        I of France and is now the property of the French Republic, on permanent display at the Louvre Museum in Paris since 1797.[2]</p>
                                </div>
                            </div>
                            <div id="item-1-video" style="display:none" class="">
                                <iframe style="width:100%; height:350px;" src="http://www.youtube.com/embed/IitbJszd1kM" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $("documents").ready(function(){
                $("#stone1").fadeOut();
                $("#stone2").fadeOut();
                $("#stone3").fadeOut();
            });
            $("#btn1").click(function(){
                $("#stone1").fadeIn("slow")
            });
            $("#btn2").click(function(){
                $("#stone2").fadeIn("slow")
            });
            $("#btn3").click(function(){
                $("#stone3").fadeIn("slow")
            });
            $("#btn4").click(function(){
                //$("#stones").fadeOut("slow")
                var div = $("#stones")
                div.animate({margin: '50px'}, "slow");
                div.animate({fontSize: '3em'}, "slow");
                $('#stone1').attr('src','img/stone/4-l.png');
                $('#stone2').attr('src','img/stone/4-l.png');
                $('#stone3').attr('src','img/stone/4-l.png');
                $("#stones").fadeOut("slow");
            });
        </script>
        <script type="text/javascript" src="/js/jquery.periodicalupdater.js"></script>
        <script type="text/javascript" src="/js/show_spell.js"></script>
    </body>

</html>